@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
	font-family: 'Open Sans';
}

#error_form_id{
	color:red;
	font-weight: bold;
	display: none;
}
#good_form_id{
	color:green;
	font-weight: bold;
	display: none; 
}
#s{
	 text-decoration: line-through;
}