/* tables */
table.tablesorter {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	/*border: 1px solid #FFF;*/
	padding: 10px;
}
table.tablesorter thead tr .tablesorter-header:not(.sorter-false) {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .tablesorter-headerAsc {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .tablesorter-headerDesc {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .tablesorter-headerDesc, table.tablesorter thead tr .tablesorter-headerAsc {
background-color: #8dbdd8;
}

/* Table Data Custom Widths */
.tablesorter td:nth-child(1){width:102px;}
.tablesorter td:nth-child(2){width:192px;}
.tablesorter td:nth-child(3){width:250px;}
.tablesorter td:nth-child(4){width:67px;}
.tablesorter td:nth-child(5){width:75px;}
.tablesorter td:nth-child(6){width:129px;}
.tablesorter td:nth-child(7){width:45px;}

/* Table Data Custom Widths */
.tablesorter-headerRow th:nth-child(1){width:102px;}
.tablesorter-headerRow th:nth-child(2){width:192px;}
.tablesorter-headerRow th:nth-child(3){width:250px;}
.tablesorter-headerRow th:nth-child(4){width:67px;}
.tablesorter-headerRow th:nth-child(5){width:75px;}
.tablesorter-headerRow th:nth-child(6){width:129px;}
.tablesorter-headerRow th:nth-child(7){width:45px;}
